<div class="contents-container">
  <h3>Save a video</h3>
  <form action="/videos" method="post">
    <input type="text" id="title-input" name="title">
    <input type="text" id="description-input" name="description">
    <button type="submit" id="submit-button">Submit</button>
  </form>
</div>
